$azul: #76A9CC;
$gris: #808080;

@import url(https://fonts.googleapis.com/css?family=Raleway);
@font-face {
    font-family: oratorstd;
    src: url("../fuentes/OratorStd.otf") format("opentype");
}

@font-face{
    font-family: gothamlight;
    src: url("../fuentes/Gotham-Light.otf") format("opentype");
}

@font-face{
    font-family: gothamBook;
    src: url("../fuentes/Gotham\ Book\ Regular.otf");
}
@font-face{
    font-family: painter;
    src: url("../fuentes/SignPainter.ttf");
}
/* BARRA DE NAVEGACION */
.topnav {
    font-family: oratorstd;
    justify-content: space-between;
    display: flex;
    overflow: hidden;
    background-color: $azul;
    height: 100px;
    @media only screen and (min-width: 700px){
        height: 140px;
    }
    a{
        float: left;
        color: black;
        text-align: center;
        padding: 2rem 1.5rem;
        text-decoration: none;
        font-size: 17px;
        @media only screen and (min-width: 1500px){
            font-size: 27px;
        }
        &:hover{
            color: $azul;
        }
        
    }
    .active{
        color: $azul;
    }}
      /* LOGO */
    .logo{
        background-image: url("../iconos_logos/logo.png");
        width: 10rem;
        height: 70px;
        /* margin: 2rem, 2rem; */
        margin-top: 1rem;
        margin-left: 1rem;
        padding-bottom: 2.2rem;
        background-size: 100%;
        background-repeat: no-repeat;
        z-index: 2;
        @media only screen and (min-width: 700px){
            width: 15rem;
        }
    }
    /* BOTON DE MENU */
    /* contenedor */
    .btn-menu{
        margin: 1rem 2rem;
        padding-top: 1.1rem;
        #menu{
            height: 1rem;
        }
    }

/* desaparecerlo en movil */
.topnav-right {    
    display: none;
}
  /* boton */
   /* DIMENSIONES DEL LOGO Y MENU IPAD */


  /* DESAPARECER MENU Y MOSTRAR BARRA DE NAVEGACION */
@media only screen and (min-width: 1100px){
    .btn-menu{
        display: none;
    }
    
    .topnav-right{
        display: flex;
        float: right;  
        padding-right: 2rem;    
        align-items: center;
    }
    .logo{
        width: 15rem;
        margin-top: 1rem;
        margin-left: 3rem;
        margin-bottom: 3rem;
    }
    .iconos a{
        padding-top: 1.65rem;
        padding-left: .7rem;
        padding-right: .7rem;
        @media only screen and (min-width: 1500px){
            font-size: 20px;           
        }
    }

}
/* MENU Y SU ANIMACION */
.overlay {
    height: 100%;
    width: 0;
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    background-color: #28324D;
    overflow-x: hidden;
    -webkit-transition: 1.5s;
    transition: 1.5s;
    a{
        padding: 8px;
        text-decoration: none;
        font-size: 36px;
        color: white;
        display: block;
        transition: 0.3s;
    }
    .closebtn {
        position: absolute;
        padding-top: 0px;
        height:86px;
        right: 0px;
        font-size: 54px;
        padding-right: 34px;
        @media only screen and (min-width: 768px) and (max-width: 899px){
            .overlay .closebtn {
                position: absolute;        
                right: 45px;
                font-size: 80px;
            }
        }
    }
    .iconos-menu{
        display: flex;
        justify-content: center;
        padding-top: 5rem;
        .fa-1x {
            font-size: 0.6em;
        }
    }

    .overlay-content {
        position: relative;
        top: 15%;
        width: 100%;
        text-align: center;
        margin-top: 30px;
        a{
            .active, &:hover, &:focus{
                color: #929292;
            }
        }
    }

}


/* Encerrar iconos en círculos */
i.fab {
  /* margin: 0.5em; */
    color: #8F8F8F;
    border: 1px solid #929292;
    border-radius: 50%;
    padding: 0.5em;
    transition: all .5s ease;
    width: 2.1em;
    text-align: center; 
    &:hover{
        background: #929292;
        color: white;
    }
} 
html, body {
    height: 100%;
}

.portada{
    background-image: url("../imagenes_home/portada.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    height: 142vw;
    display: flex;
    align-items: center;
    justify-content: center;
    font-family: painter;
    @media only screen and (min-width: 700px){
        background-image: url("../imagenes_home/portadam.jpg");
        height: 100%;
    }
    p{
        font-size: 41vw;
        color: white;
        line-height: 13.5vw;
        transform: translate(-1vw, -15.5vw);
        @media only screen and (min-width: 700px){
            font-size: 27vw;
            transform: translate(4vw, 3.5vw);
            line-height: 10.5vw;
        }
        span{
            font-size: 20vw;
            padding-left: 20vw;
            @media only screen and (min-width: 700px){
                font-size: 16vw;
                padding-left: 10vw;
            }
        }
    }
    
}

.seccion1{
    font-family: gothamlight;
    display: flex;
    .texto1{
        flex: 100%;
        @media only screen and (min-width: 700px){
            flex: 50%;
        }
        p{
            padding: 2rem;
            @media only screen and(min-width: 700px){
                padding: 7vw;
                padding-right: 1rem;
                padding-top: 5rem;
                padding-bottom: 0rem;
            }
            span{
                display: none;
                @media only screen and (min-width: 700px){
                    display: inline;
                }
            }
        }
        
    }
    .texto2{
        display: none;
        @media only screen and (min-width: 700px){
            display: block;
            flex: 50%;
            padding: 7vw;
            padding-left: 1rem;
            padding-top: 5rem;
            padding-bottom: 0rem;
        }
    }
}

.seccion2{
    display: none;
    @media only screen and (min-width: 700px){
        font-family: gothamlight;
        display: flex;
        height: 40vw;
        .cubetas{
            flex: 55%;
            background-image: url("../imagenes_home/cubetasXL.jpg");
            background-size: 50vw;
            background-position-x: right;
            background-repeat: no-repeat;
        }
        .brocha{
            display: flex;
            flex: 45%;
            background-image: url("../imagenes_home/brocha.jpg");
            background-repeat: no-repeat;
            display: flex;
            background-size: 11vw;
            background-position: center;
            background-position-y: 6vw;
            align-items: center;
            justify-content: center;
            p{
                width: 70%;
                justify-content: center;
            }
        }
    }
}



@mixin imagenes ($color) {
    background-size: cover;
    height: 58vw;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    color: $color;
    letter-spacing: 3.45px;
    font-family: Raleway;
    transition: all 0.7s ease;
    .boton{
        border: $color 2px solid;
        padding: 0.5rem;
        padding-top: 0.25rem;
        padding-bottom: 0.25rem;
        letter-spacing: 3.45px;
        color: $color;
        text-decoration: none;
        transition: all 0.7s ease;
        @media only screen and (min-width: 700px){
            font-size: 2vw;
        }
        
    }
    .mas{
        font-size: 32px;
        transition: all 0.7s ease;
        @media only screen and (min-width: 700px){
            font-size: 4vw;
        }
    }
}

@mixin imagenesXL ($largo, $orden, $imagen) {
    @media only screen and (min-width: 700px){
        flex: $largo;
        order: $orden;
        background-image: url($imagen); 
        height: 43vw;
        filter: brightness(1);
        transition: all 0.7s ease;
        .boton, .mas{
            filter: opacity(0)
        }
        &:hover{
            filter: brightness(0.7);
            .boton, .mas{
                filter: opacity(1);
            }
        }
    }
}


.contenedor-imagenes{
    display: flex;
    flex-direction: column;
    transition: all 0.7s ease;
    @media only screen and (min-width: 700px){
        flex-direction: row;
        flex-wrap: wrap;
    }
    .imper{
        background-image: url("../imagenes_home/gotas.png");
        @include imagenes(white);
        @include imagenesXL(33%, 3, "../imagenes_home/gotasXL.jpg");
    }
    
    .pinturas{
        background-image: url("../imagenes_home/sillon.png");
        background-position-y: bottom;
        @include imagenes(white);
        @include imagenesXL(100%, 1, "../imagenes_home/sillonXL.jpg");
        @media only screen and (min-width: 700px){
            height: 29vw;
        }
        
    }
    
    .adhesivos{
        background-image: url("../imagenes_home/zapatos.png");
        background-position-y: center;
        @include imagenes(white);
        @include imagenesXL(33%, 2, "../imagenes_home/zapatosXL.jpg");
    }    
    .recubrimientos{
        display: none;
        @media only screen and (min-width: 700px){
            @include imagenes(white);
            @include imagenesXL(33%, 4, "../imagenes_home/textura.jpg");
        }
    }
}




/*

.contenedor-botones{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    font-family: gothamlight;
    @media only screen and (min-width: 700px){
        flex-direction: row;
        font-size: 20px;
    }
    .boton{
        text-decoration: none;
        transition: all 0.5s ease;
        &:nth-child(1){
            margin: 3rem 0 1rem 0;
            background-color: $azul;
            color: white;
            padding: 0.5rem 2.55rem 0.5rem 2.55rem;
            
            @media only screen and (min-width: 700px){
                margin: 5rem 2rem 5rem 0;
                &:hover{
                    background-color: white;
                    color: $azul;
                    border: 1px $azul solid;
                }
            }
        }
        &:nth-child(2){
            margin-bottom: 4rem;
            color:$azul;
            border: 1px $azul solid;
            padding: 0.5rem 2.1rem 0.5rem 2.1rem;
            @media only screen and (min-width: 700px){
                margin: 5rem 0 5rem 2rem;
                &:hover{
                    background-color: $azul;
                    color: white;
                    
                }
            }
        }
    }
}*/

.dispreh{
    background-image: url("../imagenes_home/dispreh.png");
    height: 100vw;
    background-size: cover;
    display: flex;
    flex-direction: column;
    font-family: Raleway;
    align-items: center;
    justify-content: center;
    font-size: 26px;
    @media only screen and (min-width: 700px){
        background-image: url("../imagenes_home/disprehXL.jpg");
        height: 39vw;
    }
    p{
        color: white;
        text-align: center;     
        @media only screen and (min-width: 900px){
            font-size: 4vw;
        }
    }
    a{
        color: #B89B95;
        border: #B89B95 1px solid;
        padding: 0 1rem 0rem 1rem;
        text-decoration: none;
        transition: all 0.5s ease;
        @media only screen and (min-width: 900px){
            font-size: 2.5vw;
        }
        &:hover{
            background-color: #B89B95;
            color: white;
        }
    }
}




.seccion3{
    display: flex;
    
    .pintor{
        display: none;
        @media only screen and (min-width: 700px){
            display: block;
            flex: 50%;
            background-image: url("../imagenes_home/pintor.jpg");
            background-size: cover;
        }
        
    }
    
    .formulario{
        @media only screen and (min-width: 700px){
            flex: 50%;
        }
        flex: 100%;
        margin-top: 3rem;
        input[type=text]{
            letter-spacing: 3px;
            width: 80%;
            margin: 8px 0;
            box-sizing: border-box;
            border: none;
            color: rgb(217, 221, 223);
            border-bottom: 1px solid rgb(120, 121, 124);
            margin-bottom:1rem; 
            font-size: 1rem;
            @media only screen and (min-width: 700px){
                margin: 4vw;
            }
            .telefono{
                margin-bottom: 1.75rem;
            }
        }
        input[type=submit]{
            align-items: center;
            align-content: center;
            margin-top: 1rem;
            font-size: 1rem;
            /* margin-left: 35%; */
            border: 1px solid;
            border-color:#0071AE;
            color:#0071AE;
            background: transparent;
            cursor: pointer;
            font-family: gothamlight;
            padding-left:2.5rem;
            padding-right: 2.5rem;
            transition: all .5s ease;
            margin-bottom: 1.5rem;
            padding-top: 0.5rem;
            padding-bottom: 0.5rem;
            &:hover {
                border-color: $azul;
                color: $gris;
                background-color: $azul;
            }
        }
        .a{
            display: flex;
            align-items: center;
            justify-content: center;
        }
        .b{
            display: flex;
            align-items: center;
            justify-content: center;
            flex-direction: column;
        }
        .terms{
            font-family: gothamlight;
            display: flex;
            font-size: 12.37px;
            text-align: center;
            font-family: gothamlight;
            align-items: center;
            justify-content: center;
            margin-top: -2rem;
            span{
                font-family: gothamlight;
            }
        }
    
        #gota{
            height: 20px;
        }
    }
}



.rodillo{
    background-image: url("../imagenes_home/rodillo.jpg");
    background-size: cover;
    height: 48vw;
    display: flex;
    align-items: center;
    justify-content: center;
    @media only screen and (min-width: 900px){
        background-image: url("../imagenes_home/rodilloXL.jpg");
        height: 30vw;
        background-attachment: fixed;

    }
}

#logo-rodillo{
    height: 60%;
    display: none;
    @media only screen and (min-width: 900px){
        display: block;
    }
}


.footer-movil{
    @media only screen and (min-width: 700px){
        display: none;
    }
    color: white;
    font-size: 12px;
    letter-spacing: 1px;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    background-color: #1A1F33;
    height: 259px; 
    max-width: 100%;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    font-family: gothamlight;
    .logo-blanco{
        background-image: url("../iconos_logos/logo-footer.png");
        width: 8rem;
        height: 90px;
        /* margin: 2rem, 2rem; */
        margin-top: .73rem;
        padding-bottom: 5.2rem;
        background-size: 100%;
        background-repeat: no-repeat;
    
    }
    a{
        color: white;
        i{
            padding-top: 2rem;
        
        }
    }
}

.footer-grande{
    display: none;
    /* height: 260px; */
    background-color: #1A1F33;
    color: white;
    letter-spacing: 2px;
    font-family: oratorstd;
    @media only screen and (min-width: 700px){
        display: flex;
    }
    a{
        color: white;
    }
    .col-izquierda{
        font-size: .625rem;
        flex-basis: 30%;
        padding-left: 25px;
        padding-top: 25px;
        p{
            line-height: 1.7rem;
            padding-top: 2rem;
        }
        .logo-blanco{
            background-image: url("../iconos_logos/logo.png");
            width: 16rem;
            height: 90px;
            /* margin: 2rem, 2rem; */
            margin-top: .73rem;
            padding-bottom: 2.2rem;
            background-size: 100%;
            background-repeat: no-repeat;
        
        }
    }
    .col-centro{
        display: flex;
        flex-direction: column;
        align-items: center;
        text-align: center;
        flex-basis: 40%;
        a i{
            padding-top: 6.5rem;        
        }
        .flecha{
            padding-top: 20px;
        }
        
        .regresar{
            font-size: 12px;
            padding-top: 35px;
            letter-spacing: 1px;
        }
        .legal{
            letter-spacing: 1px;
            font-size: 10px;
            padding-top: 4.3rem;
        }
    }

    .col-derecha{
        display: flex;
        flex-direction: column;
        align-items: center;
        text-align: center;
        flex-basis: 30%;
        font-size: 6.5px;
        .contacto-footer{
            font-size: 10.5px;
            justify-content: center;
            padding-top: 154px;
            text-align: justify;
            text-align: center;
        
        }
    }    
}

p#ultimo{
    padding-top: 50.5px; 
}

@media only screen and (min-width: 1200px) {
    .col-izquierda{
        padding-left: 4rem;
    }
    .contacto-footer{
        padding-top: 154px;
    }
    p#ultimo{
        padding-top: 50.5px;
    }
}