$azul: #76A9CC;
$gris: #808080;

@import url(https://fonts.googleapis.com/css?family=Raleway);
@font-face {
    font-family: oratorstd;
    src: url("../fuentes/OratorStd.otf") format("opentype");
}

@font-face{
    font-family: gothamlight;
    src: url("../fuentes/Gotham-Light.otf") format("opentype");
}

@font-face{
    font-family: gothamBook;
    src: url("../fuentes/Gotham\ Book\ Regular.otf");
}
@font-face{
    font-family: painter;
    src: url("../fuentes/SignPainter.ttf");
}
/* BARRA DE NAVEGACION */
.topnav {
    letter-spacing: 3px;
    font-family: oratorstd;
    justify-content: space-between;
    display: flex;
    overflow: hidden;
    background-color: #ff7d5a;
    ;
    height: 70px;
    @media only screen and (min-width: 700px){
        height: 100px;
    }
    a{
        float: left;
        color: white;
        text-align: center;
        padding: 2rem 1.5rem;
        text-decoration: none;
        font-size: 17px;
        @media only screen and (min-width: 1500px){
            font-size: 17px;
        }
        &:hover{
            color: rgb(177, 48, 2);
        }
        
    }
    .active{
        color: rgb(177, 48, 2);
    }}
      /* LOGO */
    .logo{
        background-image: url("../iconos_logos/logo.png");
        width: 9rem;
        height: 100px;
        /* margin: 2rem, 2rem; */
        margin-top: 1rem;
        margin-left: 1rem;
        padding-bottom: 2.2rem;
        background-size: 100%;
        background-repeat: no-repeat;
        z-index: 2;
        @media only screen and (min-width: 700px){
            width: 15rem;
        }
    }
    /* BOTON DE MENU */
    /* contenedor */
    .btn-menu{
        margin: 1rem 2rem;
        padding-top:  .5rem;
        @media only screen and (min-width: 700px){
            margin: 2rem;
        }
        #menu{
            height: 1rem;
        }
    }

/* desaparecerlo en movil */
.topnav-right {    
    display: none;
}
  /* boton */
   /* DIMENSIONES DEL LOGO Y MENU IPAD */


  /* DESAPARECER MENU Y MOSTRAR BARRA DE NAVEGACION */
@media only screen and (min-width: 1100px){
    .btn-menu{
        display: none;
    }
    
    .topnav-right{
        display: block;
        padding-top: 1.2rem;
        float: right;  
        padding-right: 2rem;    
        align-items: center;
    }
    .logo{
        width: 15rem;
        margin-top: 1rem;
        margin-left: 3rem;
        margin-bottom: 3rem;
    }
    .iconos a{
        padding-top: 1.65rem;
        padding-left: .7rem;
        padding-right: .7rem;
        @media only screen and (min-width: 1500px){
            font-size: 20px;           
        }
    }

}
/* MENU Y SU ANIMACION */
.overlay {
    height: 100%;
    width: 0;
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    background-color: #28324D;
    overflow-x: hidden;
    -webkit-transition: 1.5s;
    transition: 1.5s;
    a{
        padding: 8px;
        text-decoration: none;
        font-size: 36px;
        color: white;
        display: block;
        transition: 0.3s;
    }
    .closebtn {
        position: absolute;
        padding-top: 0px;
        height:86px;
        right: 0px;
        font-size: 54px;
        padding-right: 34px;
        @media only screen and (min-width: 768px) and (max-width: 899px){
            .overlay .closebtn {
                position: absolute;        
                right: 45px;
                font-size: 80px;
            }
        }
    }
    .iconos-menu{
        display: flex;
        justify-content: center;
        padding-top: 5rem;
        .fa-1x {
            font-size: 0.6em;
        }
    }

    .overlay-content {
        position: relative;
        top: 15%;
        width: 100%;
        text-align: center;
        margin-top: 30px;
        a{
            .active, &:hover, &:focus{
                color: #929292;
            }
        }
    }

}


/* Encerrar iconos en círculos */
i.fab {
    /* margin: 0.5em; */
      color: white;
      border: 1px solid white;
      border-radius: 50%;
      padding: 0.5em;
      transition: all .5s ease;
      width: 2.1em;
      text-align: center; 
      &:hover{
          background: white;
          color: #ff7d5a;
      }
  } 

.portada{
    background-image: url("../imagenes_productos/portadaS.jpg");
    background-size: cover;
    height: 79vw;
    @media only screen and (min-width: 600px){
        background-image: url("../imagenes_productos/portada.jpg");
        background-size: cover;
        height: 45vw;
    }
}

.frase{
    font-family: Raleway;
    margin-top: 1.5rem;
    margin-bottom: 1.5rem;
    @media only screen and (min-width: 600px){
        margin-bottom: 3rem;
        margin-top: 3rem;
    }
    p{

        text-align: center;
        letter-spacing: .16em;
        font-size: 3.1vw;
        padding-left: 15vw;
        padding-right: 15vw;
        @media only screen and (min-width: 600px){
            font-size: 1.7vw;
            padding-left: 0;
            padding-right: 0;
        }
    }
}

@mixin color-muestra($color){
        .borde{
            .cuadrado{
                background-color: $color;
            }
        }

}


.colores{
    display: flex;
    flex-wrap: wrap;
    margin-bottom: 3rem;
    
    .muestra{
        height: 50vw;
        
        flex: 50%;
        background-size: cover;
        transition: all 0.5s ease;
        
        @media only screen and (min-width: 600px){
            flex: 30%;
            height: 33vw;
            align-items: center;
            justify-content: center;
            display: flex;
        }
        .color{
            opacity: 0;
            height: 5vw;
            transition: all 0.5s ease;
        }
        
        filter: brightness(0.7);
        &:hover{
            filter: brightness(1);                        

            .color{      
                    opacity: 1;
                }     
        }
        &:nth-child(1){
            background-image: url("../imagenes_productos/azul.jpg");
        }
        &:nth-child(2){
            background-image: url("../imagenes_productos/blanco.jpg");
        }
        &:nth-child(5){
            background-image: url("../imagenes_productos/cafe.jpg");
        }
        &:nth-child(6){
            background-image: url("../imagenes_productos/rosa.jpg");
        }
        &:nth-child(9){
            background-image: url("../imagenes_productos/amarillo.jpg");
        }
        &:nth-child(10){
            background-image: url("../imagenes_productos/rojo.jpg");
        }

        &:nth-child(4){
            background-color: #D1D3D2;
        }

    }
    .contenedor-muestra{
        display: flex;
        flex: 50%;
        height: 13vw;
        align-items: center;
        justify-content: center;
        @media only screen and (min-width: 600px){
            display: none;
        }
        &:nth-child(3){
            @include color-muestra(#5654CD);
        }
        &:nth-child(4){
            @include color-muestra(#D1D3D2);
        }
        &:nth-child(7){
            @include color-muestra(#B58452);
        }
        &:nth-child(8){
            @include color-muestra(#FCD2E4);
        }
        &:nth-child(11){
            @include color-muestra(#F8C829);
        }
        &:nth-child(12){
            @include color-muestra(#CC4746);
        }
        .borde{
            border: 0.5px solid #B3B3B3;
            .cuadrado{
                height: 6vw;
                width: 6vw;
                margin: 1.5px;
                
            }
        }
    }
}




@mixin seccion($flex, $flexL, $c1, $c2, $c3, $c4, $boton, $botonh, $letra){
    display: flex;
    .izquierda{
        flex: 45%;
        background-image: url("../imagenes_productos/pintor.jpg");
        background-size: cover;
        height: 45vw;
        @media only screen and (min-width: 900px) {
            margin: 3vw;
            background-size: contain;
            background-repeat: no-repeat;
        }
    }
    .derecha{
        flex: 55%;
        display: flex;
        flex-direction: column;
        h3{
            font-size: 16px;
            font-family: Raleway;
            text-align: center;
            padding-top: 1rem;
            @media only screen and (min-width: 900px){
                padding-top: 7vw;
                font-size: 25px;
                margin-left: 2.5rem;
                text-align: unset;
            }
        }
        .circulos-color{
            display: flex;
            flex-wrap: wrap;
            justify-content: space-evenly;
            height: 100%;
            padding-left: 8vw;
            padding-right: 8vw;
            @media only screen and (min-width: 900px){
                padding-right: 0;
                padding-left: 0;

            }
            .contenedor-color{
                display: flex;
                flex: $flexL;
                flex-direction: column;
                align-items: center;
                justify-content: center;
                @media only screen and (min-width: 900px){
                    flex: $flex;
                }
                &:nth-child(2){
                    .circulo{
                        background-color: $c1;
                    }
                    
                }
                &:nth-child(3){
                    .circulo{
                        background-color: $c2;
                    }
                    
                }
                &:nth-child(4){
                    .circulo{
                        background-color: $c3;
                    }
                    
                }
                .circulo{
                    width: 7vw;
                    height: 7vw;
                    border-radius: 50%;
                    background-color: $c4;
                    display: flex;
                    align-items: center;
                    justify-content: center;
                    color: white;
                    @media only screen and (min-width: 900px){
                        font-size: 3vw;
                    }
                    
                }
                .nombre-color{
                    font-size: 8px;
                    padding-top: 0.5rem;
                    @media only screen and (min-width: 600px) {
                        font-size: 16px;
                        
                    }
                }
            }
        }
        .unboton{
            font-size: 20px;
            background-color: $boton;           
            padding: .75rem 3rem .75rem 3rem;
            text-align: center;
            margin-left: auto;
            margin-right: auto;
            margin-bottom: 7vw;
            margin-top: 2rem;
            display: none;
            color: $letra;
            transition: all 0.5s ease;
            text-decoration: none;
            &:hover{
                background-color: $botonh;
                color: $boton;
            }
            @media only screen and (min-width: 900px){
                display: block;

            }
        }
        .imagen{
            background-image: url("../imagenes_productos/pareja.jpg");
            height: 100%;
            background-size: cover;
            @media only screen and (min-width: 900px){
                display: none;
            }
        }
    }
}
.seccion{
    @include seccion(25%, 50%, #A4A4A4, #DAA520, #D8D8D8, #957064, #F2F2F2, $azul, $azul );
}
#imper{
    background-image: url("../imagenes_productos/imper.jpg");
}
#años{
    padding-left: 5vw;
    padding-right: 5vw;
}

.seccion2{
    @include seccion(33%, 33%, #C85A2C, #C85A2C, #C85A2C, #C85A2C, #F2F2F2, $azul, $azul);
}
#recub{
    background-image: url("../imagenes_productos/recub.jpg");
}
.seccion3{
    @include seccion(50%,50%, #C85A2C,#C85A2C,#C85A2C, #C85A2C, #F2F2F2, $azul, $azul);
}

.descripcion{
    margin: 1.5rem;
    text-align: justify;
    @media only screen and (min-width: 900px){
        display: none;
    }
}

.descripcionXL{
    margin: 1.5rem;
    display: none;
    font-family: gothamlight;
    @media only screen and (min-width: 900px){
        display: block;
        margin: 1.5rem 4.5rem 1.5rem 2.5rem;
        text-align: justify;

    }
}

.contenedor-botones{
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    font-family: gothamlight;
    margin: 2rem 0;
    font-size: 10px;
    @media only screen and (min-width: 900px){
        display: none;
    }
    @media only screen and (min-width: 600px){
        font-size: 16px;
    }
    .boton{
        text-decoration: none;
        transition: all 0.5s ease;
        
        &:nth-child(1){
            background-color: $azul;
            color: white;
            padding: 0.5rem 2.55rem 0.5rem 2.55rem;
            border: 1px solid $azul;
            @media only screen and (min-width: 700px){
                margin: 2rem 0rem 2rem 0;
                &:hover{
                    background-color: #F2F2F2;
                    color: $azul;
                    border: 1px $azul solid;
                }
            }
        }
        &:nth-child(2){
            color:$azul;
            border: 1px #F2F2F2 solid;
            padding: 0.5rem 1.9rem 0.5rem 1.9rem;
            background-color: #F2F2F2;
            @media only screen and (min-width: 700px){
                margin: 2rem 0 2rem 0rem;
                &:hover{
                    background-color: $azul;
                    color: white;
                    
                }
            }
        }
    }
}


.footer-movil{
    @media only screen and (min-width: 700px){
        display: none;
    }
    color: white;
    font-size: 12px;
    letter-spacing: 1px;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    background-color: #1A1F33;
    height: 259px; 
    max-width: 100%;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    font-family: gothamlight;
    .logo-blanco{
        background-image: url("../iconos_logos/logo-footer.png");
        width: 8rem;
        height: 90px;
        /* margin: 2rem, 2rem; */
        margin-top: .73rem;
        padding-bottom: 5.2rem;
        background-size: 100%;
        background-repeat: no-repeat;
    
    }
    a{
        color: white;
        i{
            padding-top: 2rem;
        
        }
    }
}

.footer-grande{
    display: none;
    /* height: 260px; */
    background-color: #1A1F33;
    color: white;
    letter-spacing: 2px;
    font-family: oratorstd;
    @media only screen and (min-width: 700px){
        display: flex;
    }
    a{
        color: white;
    }
    .col-izquierda{
        font-size: .625rem;
        flex-basis: 30%;
        padding-left: 25px;
        padding-top: 25px;
        p{
            line-height: 1.7rem;
            padding-top: 2rem;
        }
        .logo-blanco{
            display: none;
        
        }
    }
    .col-centro{
        display: flex;
        flex-direction: column;
        align-items: center;
        text-align: center;
        flex-basis: 40%;
        a i{
            padding-top: 1.5rem;        
        }
        .flecha{
            padding-top: 20px;
        }
        
        .regresar{
            font-size: 12px;
            padding-top: 35px;
            letter-spacing: 1px;
        }
        .legal{
            letter-spacing: 1px;
            font-size: 10px;
            padding-top: 4.3rem;
        }
    }

    .col-derecha{
        display: flex;
        flex-direction: column;
        align-items: center;
        text-align: center;
        flex-basis: 30%;
        font-size: 6.5px;
        .contacto-footer{
            font-size: 10.5px;
            justify-content: center;
            padding-top: 74px;
            text-align: justify;
            text-align: center;
        
        }
    }    
}

p#ultimo{
    padding-top: 50.5px; 
}

@media only screen and (min-width: 1200px) {
    .col-izquierda{
        padding-left: 4rem;
    }
    .contacto-footer{
        padding-top: 74px;
    }
    p#ultimo{
        padding-top: 50.5px;
    }
}