$azul: #76A9CC;
$gris: #808080;

@import url(https://fonts.googleapis.com/css?family=Raleway);
@font-face {
    font-family: oratorstd;
    src: url("../fuentes/OratorStd.otf") format("opentype");
}

@font-face{
    font-family: gothamlight;
    src: url("../fuentes/Gotham-Light.otf") format("opentype");
}

@font-face{
    font-family: gothamBook;
    src: url("../fuentes/Gotham\ Book\ Regular.otf");
}
@font-face{
    font-family: painter;
    src: url("../fuentes/SignPainter.ttf");
}
/* BARRA DE NAVEGACION */
.topnav {
    letter-spacing: 3px;
    font-family: oratorstd;
    justify-content: space-between;
    display: flex;
    overflow: hidden;
    background-color: $azul;
    height: 70px;
    @media only screen and (min-width: 700px){
        height: 100px;
    }
    a{
        float: left;
        color: black;
        text-align: center;
        padding: 2rem 1.5rem;
        text-decoration: none;
        font-size: 17px;
        @media only screen and (min-width: 1500px){
            font-size: 17px;
        }
        &:hover{
            color: white;
        }
        
    }
    .active{
        color: white;
    }}
      /* LOGO */
    .logo{
        background-image: url("../iconos_logos/logo.png");
        width: 9rem;
        height: 100px;
        /* margin: 2rem, 2rem; */
        margin-top: 1rem;
        margin-left: 1rem;
        padding-bottom: 2.2rem;
        background-size: 100%;
        background-repeat: no-repeat;
        z-index: 2;
        @media only screen and (min-width: 700px){
            width: 15rem;
        }
    }
    /* BOTON DE MENU */
    /* contenedor */
    .btn-menu{
        margin: 1rem 2rem;
        padding-top:  .5rem;
        @media only screen and (min-width: 700px){
            margin: 2rem;
        }
        #menu{
            height: 1rem;
        }
    }

/* desaparecerlo en movil */
.topnav-right {    
    display: none;
}
  /* boton */
   /* DIMENSIONES DEL LOGO Y MENU IPAD */


  /* DESAPARECER MENU Y MOSTRAR BARRA DE NAVEGACION */
@media only screen and (min-width: 1100px){
    .btn-menu{
        display: none;
    }
    
    .topnav-right{
        display: block;
        float: right;  
        padding-right: 2rem;    
        padding-top: 1.2rem;
        align-items: center;
    }
    .logo{
        width: 15rem;
        margin-top: 1rem;
        margin-left: 3rem;
        margin-bottom: 3rem;
    }
    .iconos a{
        padding-top: 1.65rem;
        padding-left: .7rem;
        padding-right: .7rem;
        @media only screen and (min-width: 1500px){
            font-size: 20px;           
        }
    }

}
/* MENU Y SU ANIMACION */
.overlay {
    height: 100%;
    width: 0;
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    background-color: #28324D;
    overflow-x: hidden;
    -webkit-transition: 1.5s;
    transition: 1.5s;
    a{
        padding: 8px;
        text-decoration: none;
        font-size: 36px;
        color: white;
        display: block;
        transition: 0.3s;
    }
    .closebtn {
        position: absolute;
        padding-top: 0px;
        height:86px;
        right: 0px;
        font-size: 54px;
        padding-right: 34px;
        @media only screen and (min-width: 768px) and (max-width: 899px){
            .overlay .closebtn {
                position: absolute;        
                right: 45px;
                font-size: 80px;
            }
        }
    }
    .iconos-menu{
        display: flex;
        justify-content: center;
        padding-top: 5rem;
        .fa-1x {
            font-size: 0.6em;
        }
    }

    .overlay-content {
        position: relative;
        top: 15%;
        width: 100%;
        text-align: center;
        margin-top: 30px;
        a{
            .active, &:hover, &:focus{
                color: #929292;
            }
        }
    }

}


/* Encerrar iconos en círculos */
i.fab {
  /* margin: 0.5em; */
    color: white;
    border: 1px solid white;
    border-radius: 50%;
    padding: 0.5em;
    transition: all .5s ease;
    width: 2.1em;
    text-align: center; 
    &:hover{
        background: white;
        color: $azul;
    }
} 
html, body {
    height: 100%;
}

.terminos{
    font-family: gothamlight;
    margin-left: 1.5rem;
    margin-right: 1.5rem;
    margin-bottom: 3rem;
    @media only screen and (min-width: 900px){
        margin-left: 20vw;
        margin-right: 20vw;
    }
    h1{
        text-align: center;
        margin: 3rem;
        font-size: 20px;
        @media only screen and (min-width: 900px){
            font-size: 36px
        }
    }
}


.footer-movil{
    @media only screen and (min-width: 700px){
        display: none;
    }
    color: white;
    font-size: 12px;
    letter-spacing: 1px;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    background-color: #1A1F33;
    height: 259px; 
    max-width: 100%;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    font-family: gothamlight;
    .logo-blanco{
        background-image: url("../iconos_logos/logo-footer.png");
        width: 8rem;
        height: 90px;
        /* margin: 2rem, 2rem; */
        margin-top: .73rem;
        padding-bottom: 5.2rem;
        background-size: 100%;
        background-repeat: no-repeat;
    
    }
    a{
        color: white;
        i{
            padding-top: 2rem;
        
        }
    }
}

.footer-grande{
    display: none;
    /* height: 260px; */
    background-color: #1A1F33;
    color: white;
    letter-spacing: 2px;
    font-family: oratorstd;
    @media only screen and (min-width: 700px){
        display: flex;
    }
    a{
        color: white;
    }
    .col-izquierda{
        font-size: .625rem;
        flex-basis: 30%;
        padding-left: 25px;
        padding-top: 25px;
        p{
            line-height: 1.7rem;
            padding-top: 2rem;
        }
        .logo-blanco{
            display: none;
        
        }
    }
    .col-centro{
        display: flex;
        flex-direction: column;
        align-items: center;
        text-align: center;
        flex-basis: 40%;
        a i{
            padding-top: 1.5rem;        
        }
        .flecha{
            padding-top: 20px;
        }
        
        .regresar{
            font-size: 12px;
            padding-top: 35px;
            letter-spacing: 1px;
        }
        .legal{
            letter-spacing: 1px;
            font-size: 10px;
            padding-top: 4.3rem;
        }
    }

    .col-derecha{
        display: flex;
        flex-direction: column;
        align-items: center;
        text-align: center;
        flex-basis: 30%;
        font-size: 6.5px;
        .contacto-footer{
            font-size: 10.5px;
            justify-content: center;
            padding-top: 74px;
            text-align: justify;
            text-align: center;
        
        }
    }    
}

p#ultimo{
    padding-top: 50.5px; 
}

@media only screen and (min-width: 1200px) {
    .col-izquierda{
        padding-left: 4rem;
    }
    .contacto-footer{
        padding-top: 74px;
    }
    p#ultimo{
        padding-top: 50.5px;
    }
}